/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS styling here */

body {
    background-color: black;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    color: dodgerblue;
}

header .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-container nav a:link, 
.nav-container nav a:visited {
    margin: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    background-color: #AAAAAA;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}

.nav-container nav a:hover, 
.nav-container nav a:active {
    margin: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    background-color: dodgerblue;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.content-container {
    background-color: #4d4d4d;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
}

.content-container .content span {
    font-size: 30px;
    margin-right: 3px;
    color: dodgerblue;
}

.main-project {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-project img {
    height: 400px;
    width: 100%;
}

.projects-container {
    display: flex;
}

.projects-container .projects {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-right: 25px;
    
}

.projects img {
    width: 200px;
    height: 450px;
}

.projects-container .projects-text {
    background-color: #4d4d4d;
    width: 250px;
    padding-left: 25px;
    padding-right:25px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: dodgerblue;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    background-color: #4d4d4d;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

footer a:link, 
footer a:visited {
    margin: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    background-color: #AAAAAA;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover, 
footer a:active {
    margin: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    background-color: dodgerblue;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.box-container {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}

.box-container .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box-container .boxes img {
    width: 200px;
    height: 200px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.about-container .about-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
}

.about-container .about-left img {
    width: 200px;
    height: 200px;
}

.about-container .about-right {
    display: flex;
    flex-direction: row;
}

.about-container .about-right .left {
    flex-direction: row;
    justify-content: flex-start;
    width: 150px;
    color: dodgerblue;
    font-weight: bold;
}/* display 1024 */

@media (max-width: 1024px) {

    .projects-container .projects-text {
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* display 780*/

@media (max-width: 800px) {
    .title-container {
        font-size: 80px;
        font-weight: bold;
    }

    .main-project img {
        height: 350px;
        width: 100%;
    }

    .projects-container {
        flex-direction: column;
        height: auto;
    }

    .projects-container .projects {
        justify-content: space-between;
        padding: 0px;
    }

    .projects-container .projects-text {
        width: auto;
        height: 100px;
        margin-bottom: 30px;
    }

    .projects-container .projects img {
        width: 160px;
        height: 375px;
    }

    .project {
        width: auto;
    }

}

/* display 360*/

@media (max-width: 415px) {
    
    body {
        font-size: 14px;
    }

    .title-container {
        font-size: 40px;
    }
    
    .nav-container nav a:link, 
    .nav-container nav a:visited {
        margin: 5px;
        padding-top: 5px;  
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        font-size: 12px;
    }
    
    .nav-container nav a:hover, 
    .nav-container nav a:active {
        margin: 5px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        font-size: 12px;
    }

    .content-container {
        padding: 25px;
    }
    
    .content-container .content {
        width: auto;
    }

    .content-container .content span {
        font-size: 18px;
        font-weight: bold;
    }

    .main-project img {
        height: 200px;
    }

    .projects-container {
        flex-direction: column;
    }

    .projects-container .projects {
        justify-content: space-between;
    }

    .projects .project img {
        width: 75px;
        height: 200px;
    }

    .projects-container .projects-text {
        width: auto;
        padding: 0px;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
    }

    .footer-container {
        height: 80px;
    }

    footer a:link, 
    footer a:visited {
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        font-size: 12px;
    }

    footer a:hover, 
    footer a:active {
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        font-size: 12px;
    }
}

/* display 320 */
@media (max-width: 350px) {
    .title-container {
        font-size: 35px;
    }

    .nav-container nav a:link, 
    .nav-container nav a:visited {  
        padding-left: 7px;
        padding-right: 7px;
    }

    .nav-container nav a:hover, 
    .nav-container nav a:active {
        padding-left: 7px;
        padding-right: 7px;
    }
    .projects .project img {
        width: 60px;
        height: 150px;
    }

    .projects-container .projects-text {
        font-size: 16px;
    }
}
